<h1> Welcome to the ENTR Casino Mutha Fucca! </h1>

<%
    ranks = [2, 3, 4, 5, 6, 7, 8, 9, 10, "jack", "queen", "king", "ace"]
    suits = ["clubs", "diamonds", "hearts", "spades"]

    deck = []
    for rank in ranks
        for suit in suits
            card = "#{rank}_of_#{suit}"
            deck.push(card)
        end
    end

    shuffle_deck = deck.shuffle
    hand = shuffle_deck[0,5]
%>

<% for card in hand %>
    <p><img src="images<%= card%></p>
<% end %>

<p>
    <a href="/cards"> Deal them!</a>
<p>
